
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Poppins:wght@300&family=Tilt+Neon&display=swap');


ion-content{
    
    --background: #DC661F;
    --color: #F6F6E9;
    font-family: 'Amaranth', sans-serif;
}



section{
    position: absolute;
    
    height:100vh;
    width: 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-size: 250px;
    opacity: 0.4;
  
}


ion-content .titulo{
 
   padding-top: 160px;
   padding-bottom: 5px;
   text-align: center;
   font-size: 26px;
   font-family: 'Amaranth', sans-serif;
}

ion-content .card1, .card2, ion-item{
    
    --background: #964919b6;
    border-radius: 40px;
     
}

ion-content .card1, .card2, ion-input{
    font-family: 'Amaranth', sans-serif;
    --color: #f6f6e992;
    font-size: 17px;
    text-align: center;
    
    
   
}

ion-content .card1, .card2{
    height: 56px;
    
}

ion-content .ingresarbutton ion-button{
   text-align: center;
   font-family: 'Amaranth', sans-serif;
   padding: 10px;
   --background:  #1D7151;
   
}

ion-content .registrarme{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    
 }

  ion-content .registrarme ion-button {
    --background:  #1D7151;
  --color:  #f5f5f5d0;
  font-family: 'Amaranth', sans-serif;
    
 }




 