<app-header></app-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['/protesis']">
          <img alt="Silhouette of mountains" src="assets/img/descarga.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Protesis de brazo izquierda </ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
        
      </ion-col>
    
      <ion-col>
        
        <ion-card [routerLink]="['/protesis']">
          <img alt="Silhouette of mountains" src="assets/img/descarga (2).jpg" />
          <ion-card-header>
            <ion-card-subtitle>Diseño de protesis perna izquierda</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['/protesis']">
          <img alt="Silhouette of mountains" src="assets/img/descarga (4).jpg" />
          <ion-card-header>
            <ion-card-subtitle>Protesis de mano izquierda</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
        
      </ion-col>
    
      <ion-col>
        
        <ion-card [routerLink]="['/protesis']">
          <img alt="Silhouette of mountains" src="assets/img/descarga (5).jpg" />
          <ion-card-header>
            <ion-card-subtitle>Diseño protesis par de piernas multifuncional</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['/protesis']">
          <img alt="Silhouette of mountains" src="assets/img/descarga (6).jpg" />
          <ion-card-header>
            <ion-card-subtitle>Diseño de protesis pierna deportiva </ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
        
      </ion-col>
    
      <ion-col>
        
        <ion-card [routerLink]="['/protesis']"> 
          <img alt="Silhouette of mountains" src="assets/img/images (1).jpg" />
          <ion-card-header>
            <ion-card-subtitle>Diseños de protesis impresora 3D con diseños para niños</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/foro']">
          <ion-icon name="megaphone-outline"></ion-icon>
          Foro
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/empresas']">
          <ion-icon name="people-outline"></ion-icon>
          Empresas
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/para-ti']">
          <ion-icon name="flame"></ion-icon>
          Para ti
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/perfil']">
          <ion-icon name="person-circle-outline"></ion-icon>
          Perfil
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/crear']">
          <ion-icon name="construct-outline"></ion-icon>
          Crear
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    
  </ion-toolbar>
  </ion-footer>
  