ion-content{
    
    --background: #F6F6E9;
    --color:#7B3911;
    font-family: 'Amaranth', sans-serif;
}

ion-tabs,ion-tab-bar{
    
    --background: #F6F6E9;
    --color:#7B3911;
    font-family: 'Amaranth', sans-serif;
}
